*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.quiz-main-div{
    border: 2px solid black;
    background-color: grey;
    color: aliceblue;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
}